@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

::selection {
    color: #fff;
    background-color: var(--cblue);
  }

:root {
    --cblue: #2948ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    transition: all 1s cubic-bezier(.165, .84, .44, 1);
    transform-style: flat;
    -webkit-transform-style: flat
}

/* link reset */

a,
a:active,
a:focus,
a:hover {
    text-decoration: none;
    color: inherit
}

body {
    height: inherit;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

/* Loading animation and wrapper */

.__loader_wrap {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: table;
    background: #fff;
    color: #000;
    transition: transform 200ms cubic-bezier(.94,.03,.03,.98)
}

.__loader_content {
    position: fixed;
    margin: auto;
    width: 80%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.__loader_content:after,
.__loader_content:before {
    content: '';
    height: 10px;
    position: absolute;
    width: 100%;
    top: 60px;
    bottom: 0;
    left: 0
}

.__loader_content:after {
    animation: load 750ms cubic-bezier(.94,.03,.03,.98);
    background: var(--cblue)
}

.__loader_content:before {
    z-index: -1;
    background: #fff
}

@keyframes load {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* Main container section stuff */

.intro {
    letter-spacing: -1px;
}

.container {
    color: #000;
    letter-spacing: -1px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
}

.hero {
    margin-bottom: 1rem;
}

.subcontainer {
    margin: 6rem 1.5rem;
    max-width: 1200px;
}

.title {
    font-size: 3rem;
    padding: 0.8rem 0;
    font-weight: 400;
}

/* Sample variables */

#bkey {
    background-color: rgba(41, 72, 255, 0.1)
}

#rkey {
    color: #F44336
}

.display_pic {
    max-width: 250px;
    border-radius: 50%;
}

/* Navigation */

nav {
    margin-top: 2rem;
}

nav a {
    position: relative;
    display: inline;
    color: var(--cblue);
}

nav a:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--cblue);
    bottom: -4px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease;
}

nav a:hover {
    color: var(--cblue);
}

nav a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

.footer {
    margin-top: 4rem;
    font-size: 16px;
    letter-spacing: 10;
}

@media all and (max-width: 480px) {
    .subcontainer {
        margin: 1rem;
    }
    .title {
        font-size: 2.4rem;
        letter-spacing: -1px
    }
    .container {
        font-size: 1.3rem;
    }
    .footer {
        font-size: 14px;
        letter-spacing: -1px;
    }
}